*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #000;
}
.header_content{
    height: 80px;
}
.logo_img{
    object-fit: cover;
    width: 120px;
    height: 120px;
}
.logo_heading{
    font-size: 25px;
    font-weight: 900;
}
.header_content_search{
    border: 2px solid #fff;
    border-radius: 40px;
    overflow: hidden;
    padding: 0 5px;
    background-color: #000;
}
.search_inp{
    background-color: transparent;
    color : #fff;
    border: none;
    text-align: center;
}
.search_inp::placeholder{
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.search_inp:focus-visible{
    outline: none;

}
.btn_search{
    cursor: pointer;
}
.item_description{
    font-size: 35px;
    letter-spacing: 2px;
    margin : 10px 0;
}

.main_content{
    background-color: #b1d7ea;
    border: 3px solid red;
}
.main_content_img{
    border-right: 3px solid red ;
}
.warning{
    padding: 20px;
    border-radius: 30px;
    background-color: #ff5757;
    margin-top: 20px;
    height: 200px;
}
.warning_heading{
    font-size: 30px;
}.warning_content{
    text-align: center;
    font-size: 35px;
}
.contact{
    background-color:#b1d7ea ;
    font-size: 25px;
    padding: 0;
    position: relative;
}
.user_icon{
    font-size: 180px;
    margin-right: 30px;
    margin-left: 40px;
}
.mess_icon{
    font-size: 100px;
}
.phone_icon{
    font-size: 100px;
}
.phone{
    margin-right: 80px;
}
.follow{
    position: absolute;
    background-color: #fff;
    color: #000;
    padding: 4px;
    border-radius: 50px;
    top: 15px;
    right: 30px;
    font-size: 16px;
    text-align: center;
    width: 120px;
    cursor: pointer;
}
.btn_accept{
    font-size: 16px;
    color: #000;
    background-color: #ff5757;
    padding: 10px 20px;
    border-radius: 50px;
    width: 220px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
.btn_accept:active,.follow:active{
    background-color: #ccc;
    user-select: none;
}
.btn_link{
    color: #000;
    text-decoration: none;
}